<form action="{% url 'rossvyaz:search' %}" method="post">
{% csrf_token %}
<label for="num">Номер телефона:</label>
<input type="text" name="num" id="num" value="{% if request.POST %}{{ request.POST.num }}{% endif %}" placeholder="9856660205">
<input type="submit" value="Найти">
</form>

{% if error_message %}<p><strong>Ошибка: {{ error_message }}</strong></p>{% endif %}

{% if number and operator and region %}
<ul>
    <li>{{ number }}</li>
    <li>{{ operator }}</li>
    <li>{{ region }}</li>
</ul>
{% endif %}